<h1>Admin panel</h1>
<%= link_to "Orders", :controller => 'orders', :action => 'index' %><br>
<%= link_to "Categories", :controller => 'categories', :action => 'index' %><br>
<%= link_to "Products", :controller => 'products', :action => 'index' %><br>
<%= link_to "Logout", destroy_admin_admin_user_session_path, :method => :delete %> 